{% extends "top_nav.html" %}

{% block title %}
  Basket
{% endblock %}

{% block content %}
<h2>Your Basket</h2>

<style>
    .styled-table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
      font-size: 18px;
      text-align: left;
      border-radius: 8px 8px 0 0;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .styled-table thead tr {
      background-color: #009879;
      color: #ffffff;
      text-align: left;
      font-weight: bold;
    }

    .styled-table th, .styled-table td {
      padding: 12px 15px;
      border: 1px solid #dddddd;
    }

    .styled-table tbody tr {
      border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }

    .styled-table tbody tr:hover {
      background-color: #f1f1f1;
    }

    .styled-table tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
    }

    .styled-table td {
      text-align: left;
    }

    .table-container {
      margin: 20px 0;
    }
</style>

{% if selected_items %}
    <table class="styled-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Availability</th>
            </tr>
        </thead>
        <tbody>
            {% for item in selected_items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }} €</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.availability }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Total Items: {{ selected_items|length }}, <span> Total Price: {{ total_price }} €</span></p>
{% else %}
    <p>Your basket is empty.</p>
{% endif %}
{% endblock %}
