{% extends "top_nav.html" %}

{% block title %}
  Basket
{% endblock %}

{% block content %}
<h2>Selected Items</h2>

<style>
    .styled-table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
      font-size: 18px;
      text-align: left;
      border-radius: 8px 8px 0 0;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .styled-table thead tr {
      background-color: #009879;
      color: #ffffff;
      text-align: left;
      font-weight: bold;
    }

    .styled-table th, .styled-table td {
      padding: 12px 15px;
      border: 1px solid #dddddd;
    }

    .styled-table tbody tr {
      border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }

    .styled-table tbody tr:hover {
      background-color: #f1f1f1;
    }

    .styled-table tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
    }

    .styled-table td {
      text-align: left;
    }

    .table-container {
      margin: 20px 0;
    }
    .button-container {
      text-align: left; 
      margin-top: 20px; 
    }

    button[type="submit"] {
      background-color: #009879;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      font-size: 18px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button[type="submit"]:hover {
      background-color: #007f67;
    }

    .grid-container {
      display: grid;
      grid-template-columns: auto auto;
      gap: 5px;
      background-color: #dddddd;
      padding: 5px;
      border-radius: 8px;
    }

    .grid-container > div {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px 0;
      font-size: 18px;
      padding: 10px;
    }
</style>

{% if selected_items %}
    <table class="styled-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Availability</th>
            </tr>
        </thead>
        <tbody>
            {% for item in selected_items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }} €</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.availability }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="grid-container">
      <div class="item1">
        <h3>Select delivery method:</h3>
        <h4>Self Collection <input type="checkbox" name="self_collection"> 0 € </h4>
        <h4>Delivery <input type="checkbox" name="delivery"> 2 € </h4>
      </div>
      <div class="item2">
        <h3>Select payment method:</h3>
        <h4>Cash on collection <input type="checkbox" name="cash_payment"> 0 € </h4>
        <h4>Bank Transfer <input type="checkbox" name="bank_transfer"> 0 € </h4> 
      </div>
    </div>
    
    <p>Total Items: {{ selected_items|length }}, <span> Total Price: {{ total_price }} €</span></p>
    
    <div class="button-container">
      <button type="submit">Checkout</button>
    </div>
{% else %}
    <p>Your basket is empty.</p>

{% endif %}
{% endblock %}
