{% extends "top_nav.html" %}

{% block title %}
  Final Order Summary
{% endblock %}

{% block content %}

<h2 style="text-align: center;">Thank you for your order, its details are as follows:</h2>

<table class="styled-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in selected_items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.price }} €</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Total Items ordered: {{ total_items }}</h3>
<h3>Total Price: {{ total_price }} € {% if delivery_method == "delivery" %} including delivery fee {% endif %}</h3>
<h3>Delivery Method: 
    {% if delivery_method == "delivery" %}
    Your food will be delivered to: {{ customer.firstname}} {{ customer.lastname}}, {{ customer.address }}, {{ customer.zipcode }} {{ customer.city }}
    {% else %}
        Self Collection
    {% endif %}
</h3>
<h3>Payment Method: 
    {% if delivery_method == "delivery" %}
    Cash or Card to be paid on delivery
    {% else %}
    Cash or Card on collection
    {% endif %}
</h3>


{% endblock %}
